@media screen and (min-width: 767px) {
  html, .ui {
    font-size: calc(12px + 2 * ((100vw - 768px) / 232));
  }
}

@media screen and (min-width: 1000px) {
  html, .ui {
    font-size: 14px;
  }
}

.ui.mobile.menu, .ui.mobile.menu > .item {
  font-size: 14px;
}

a.link {
  padding: 0 !important;
}

@font-face {
  font-family: Rubik;
  src: url(https://2019.igem.org/wiki/images/5/53/T--Stony_Brook--Rubik.ttf);
}

*, .ui.header {
  font-family: Rubik;
}

.bordered {
  border-left: 1.5px solid #E9E9E9;
}

#HQ_page p {
  font-size: 1.45em;
  line-height: 1.6;
  color: white;
}

li {
  line-height: 1.6 !important;
  color: #444444;
}

.slideshow {
  max-width: 70%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  margin-top: -1.5em;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

[class*="dot"] {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Mobile */
@media only screen and (min-width: 300px) and (max-width: 767px){
  html, .ui {
    font-size: 11px;
  }

  h1.ui.header {
    font-size: 4em;
  }

  h2.ui.header {
    font-size: 2em;
  }

  div.ui.container.fluid.topic {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .slideshow {
    max-width: 100%;
  }
}

.ui.menu {
  padding-top: 15px;
}

.ui.mobile.menu {
  margin-top: 15px;
}

.ui.mobile.open.menu {
  padding-top: 0;
}
